{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
      <h1>Institutions</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p style="color:red">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <p><button type=button onclick="window.location.href='{{ url_for('inst_add') }}';">Create new record</button></p>
      <form method="POST" action="{{ url_for('index') }}">
        <select name='sort'>
          <option value="0" {% if srt=='0' %}SELECTED{% endif %}>Code</option>
          <option value="1" {% if srt=='1' %}SELECTED{% endif %}>Name</option>
          <option value="2" {% if srt=='2' %}SELECTED{% endif %}>Website</option>
        </select>
        <input type=submit value="Sort" name="btn_submit">
      </form>
      <table>
        <tr>
          <td><strong>Code</strong></td>
          <td><strong>Name</strong></td>
          <td><strong>Capacity</strong></td>
          <td><strong>Website</strong></td>
          <td><strong>Favourite</strong></td>
          <td><strong>Status</strong></td>
        </tr>
        {% for inst in institutes %}
        <tr>
          <td>{{ inst[1] }}</td>
          <td>{{ inst[2] }}</td>
          <td>{{ inst[3] }}</td>
          <td><a href='{{ inst[3] }}' target='_blank'>{{ inst[4] }}</a></td>
          <td>{{ inst[5] }}</td>
          <td>{{ inst[6] }}</td>
          <td>
            <button type=button onclick="window.location.href='{{ url_for('inst_detail',id=inst[0]) }}';">View</button>
          </td>
        </tr>
        {% endfor %}
      </table>
{% endblock %}
