<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/typicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Features-Blue.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Header-Blue.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div>
        <div class="header-blue" style="height:5px;">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="#" style="font-size:59px;font-family:'Source Sans Pro', sans-serif;">CALO</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"></label><input class="form-control search-field" type="search" name="search" id="search-field"></div>
                        </form><span class="navbar-text"> <a href="#" class="login">Log In</a></span><a class="btn btn-light action-button" role="button" href="#">Sign Up</a></div>
        </div>
        </nav>
    </div>
    </div>

    <h1 style="font-size:45px;margin-left:172px;">{{ form.provider_code.data}} - {{ form.name.data }}</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color:red">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('inst_edit',id=form.institution_id.data) }}">
      {{ form.csrf_token }}
      {{ form.institution_id }}
      <table style="font-size:18px;margin-left:172px;">

        {% for error in form.provider_id.errors %}
        <tr><td colspan="2"><span style="color:red">{{ error }}</span></td></tr>
        {% endfor %}

        <tr>
          <td>{{ form.provider_id.label }}</td><td>{{ form.provider_id }}</td>
        </tr><tr>
          <td>{{ form.provider_code.label }}</td><td>{{ form.provider_code }}</td>
        </tr><tr>
          <td>{{ form.trading_name.label }}</td><td>{{ form.trading_name }}</td>
        </tr><tr>
          <td>{{ form.name.label }}</td><td>{{ form.name }}</td>
        </tr><tr>
          <td>{{ form.type.label }}</td><td>{{ form.type }}</td>

        {% for error in form.total_capacity.errors %}
        </tr><tr><td colspan="2"><span style="color:red">{{ error }}</span></td>
        {% endfor %}

        </tr><tr>
          <td>{{ form.total_capacity.label }}</td><td>{{ form.total_capacity }}</td>

        {% for error in form.website.errors %}
        </tr><tr><td colspan="2"><span style="color:red">{{ error }}</span></td>
        {% endfor %}

        </tr><tr>
          <td>{{ form.website.label }}</td><td>{{ form.website }}</td>
        </tr><tr>
          <td>{{ form.postal_address.label }}</td><td>{{ form.postal_address }}</td>
        </tr><tr>
          <td>{{ form.locations.label }}</td><td>{{ form.locations }}</td>
        </tr><tr>
          <td>{{ form.favourite.label }}</td><td>{{ form.favourite }}</td>
        </tr><tr>
          <td>{{ form.status.label }}</td><td>{{ form.status }}</td>
        </tr><tr>
          <table style="font-size:18px;margin-left:172px;">
            <tr>
              <td>
                <input type="submit" value="Update" name="btn_submit">
              </td>
              <td>
                <button type=button onclick="window.location.href='{{ url_for('inst_detail',id=form.institution_id.data) }}';">Cancel</button>
              </td>
            </tr>
          </table>
        </tr>
      </table>
    </form>


    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="fa fa-meetup"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Calo Services © 2018</p>
        </footer>
    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    
</body>

</html>
