{% extends "base.html" %}

{% block title %}Institute - Edit{% endblock %}

{% block body %}

    <h1>{{ form.provider_code.data}} - {{ form.name.data }}</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color:red">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('inst_edit',id=form.institution_id.data) }}">
      {{ form.csrf_token }}
      {{ form.institution_id }}
      <table>

        {% for error in form.provider_id.errors %}
        <tr><td colspan="2"><span style="color:red">{{ error }}</span></td></tr>
        {% endfor %}

        <tr>
          <td>{{ form.provider_id.label }}</td><td>{{ form.provider_id }}</td>
        </tr><tr>
          <td>{{ form.provider_code.label }}</td><td>{{ form.provider_code }}</td>
        </tr><tr>
          <td>{{ form.trading_name.label }}</td><td>{{ form.trading_name }}</td>
        </tr><tr>
          <td>{{ form.name.label }}</td><td>{{ form.name }}</td>
        </tr><tr>
          <td>{{ form.type.label }}</td><td>{{ form.type }}</td>

        {% for error in form.total_capacity.errors %}
        </tr><tr><td colspan="2"><span style="color:red">{{ error }}</span></td>
        {% endfor %}

        </tr><tr>
          <td>{{ form.total_capacity.label }}</td><td>{{ form.total_capacity }}</td>

        {% for error in form.website.errors %}
        </tr><tr><td colspan="2"><span style="color:red">{{ error }}</span></td>
        {% endfor %}

        </tr><tr>
          <td>{{ form.website.label }}</td><td>{{ form.website }}</td>
        </tr><tr>
          <td>{{ form.postal_address.label }}</td><td>{{ form.postal_address }}</td>
        </tr><tr>
          <td>{{ form.locations.label }}</td><td>{{ form.locations }}</td>
        </tr><tr>
          <td>{{ form.favourite.label }}</td><td>{{ form.favourite }}</td>
        </tr><tr>
          <td>{{ form.status.label }}</td><td>{{ form.status }}</td>
        </tr><tr>
          <table>
            <tr>
              <td>
                <input type="submit" value="Update" name="btn_submit">
              </td>
              <td>
                <button type=button onclick="window.location.href='{{ url_for('inst_detail',id=form.institution_id.data) }}';">Cancel</button>
              </td>
            </tr>
          </table>
        </tr>
      </table>
    </form>

{% endblock %}
